.topList {
  padding-left: 10px;
}
.topList ul > li {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 36px;
  line-height: 36px;
}
.topList ul > li a {
  color: #595959;
}
.topList ul > li span {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}
.topList ul > li h3 {
  text-align: center;
  color: #108ee9;
}
.topList ul > li:nth-child(4) span,
.topList li:nth-child(2) span,
.topList li:nth-child(3) span {
  color: #ED1C24;
}
